<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="environment" content="<%-envType%>">
    <link  rel="shortcut icon" type="image/x-icon" href="/public/favicon.ico"/>
    <title>Iso</title>
    <link rel="stylesheet" href="/public/fonts/fonts.css<%-version%>">
    <%-styleTags%>
    <script async src="https://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
</head>
<body>
    <div id="root"><%-html%></div>
    <script>window.__initialData__ = <%-initialData%></script>
    <script>
      window.initialI18nStore = <%-initialI18nStore%>;
      window.initialLanguage = <%-initialLanguage%>;
    </script>
    <%-scriptTags%>
</body>
</html>
