<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="environment" content="<%-envType%>">
    <link rel="apple-touch-icon" sizes="180x180" href="/public/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/public/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/public/favicon-16x16.png">
    <link rel="manifest" href="/public/site.webmanifest">
    <title>Iso</title>
    <%-linkTags%>
    <link rel="stylesheet" href="/public/fonts/fonts.css<%-version%>">
    <%-styleTags%>
</head>
<body>
    <div id="root"><%-html%></div>
    <script>window.__initialData__ = <%-initialData%></script>
    <script>
      window.initialI18nStore = <%-initialI18nStore%>;
      window.initialLanguage = <%-initialLanguage%>;
    </script>
    <%-scriptTags%>
</body>
</html>
